body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

canvas {
    width: 45%;
    height: 300px;
    margin-bottom: 20px;
}
